<h2>Content Manager Home Page</h2>

<%= link_to "Sections", "/manage/sections" %><br>
<%= link_to "Pages", manage_pages_path %><br>

<% @publishable_types.each do |pt| %>
    <%= link_to pt.name.pluralize, send("manage_#{pt.name.tableize}_path") %><br>
<% end %>

<h3>Site Settings</h3>

<%= link_to "Publishable Types", "/manage/publishable_types" %><br>


