/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require './manage/publishable.css.scss'
*/

body {
  font-family: "helvetica neue", helvetica, verdana, arial, helvetica, "sans-serif";
  font-size: small;
  background-color: #ccc;
  margin: 0;
  padding: 0;
  
  #header {
    background-color: #ccc;
    margin: 0;
    padding: 1em;
    h3 {
      padding: 0;
      margin: 0;
    }
  }
  
  #content {
    background-color: #fff;
    margin: 0;
    padding: 2em;
  }
  
  #footer  {
    background-color: #ccc;
    margin: 0;
    padding: 1em;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  h1 {
    a {
      color: #000;
    }
  }
  
  .formtastic {
    fieldset {
      border: 0;
      legend {
        font-size: 1.3em;
        font-weight: bold;
      }
      ol, ol.fragments-group {
        list-style-type: none;
        label {
          display: block;
          font-weight: bold;
        }
        li.action {
          display: inline;
          padding-right: 2em;
        }
        li.string {
          input[type="text"] {
            width: 600px;
            font-size: medium;
          }
        }
        textarea {
          width: 600px;
        }
      }
      ol.fragments-group {
        li {
          float: left;
        }
      }
    }
  }
}