<h1>Manage Sections </h1>

<table>
  <% @sections.each do |section|  %>
    <tr>
      <td>
        <%= section.name %>
      </td>
      <td>
        <%= link_to 'edit', edit_manage_section_path(section) %>
      </td>
      <td>
        <%= link_to 'pages', manage_section_path(section) %>
      </td>
    </tr>
  <% end %>
</table>
<p>
<%= link_to "Add Section", new_manage_section_path %>
