<h2><%= @publishable_class_name.capitalize.pluralize %></h2>

<table id="publishables">
  <thead>
    <tr>
      <th><%= @publishable_class_name %> Slug</th>
      <th>Section</th>
      <th>Last Updated At</th>
      <th>Edit</th>
      <th>Show</th>
      <th>Public Link</th>
    </tr>
  </thead>
  <%= render :collection => @publishables, :partial => "summary" %>
</table>

<%= link_to "Add #{@publishable_class_name}", send("new_manage_#{@publishable_class_name.downcase}_path") %>
