<h2><%= @publishable_class_name.capitalize.pluralize %></h2>

<ul id="publishables">
  <%= render :collection => @publishables, :partial => "summary" %>
</ul>

<%= link_to "Add #{@publishable_class_name}", send("new_manage_#{@publishable_member_name}_path") %>
